# generic ignore

*.json
*.python-version
!Docker/**/*.json
Docker/validators/**/db-*
Docker/validators/**/logs*
.DS_Store
.storage_*
.*storage*
.venv/
.idea/*
rust/.idea/*
workspace.xml
.pre-commit*

# project specific ignore

# keystore ignore
.gdex/*

# bench and test ignore
/suite/db.rocks
target/
!/**/src/**/target/
.test_*

# metrics ignore
metrics/__pycache__/*

# sdk ignore
sdk/js/dist/*
