# generic ignore

*.json
*.python-version
!Docker/**/*.json
Docker/validators/**/db-*
Docker/validators/**/logs*
.DS_Store
.storage_*
.*storage*
.venv/
.idea/*
rust/.idea/*
workspace.xml
.pre-commit*

# project specific ignore

# benchmark
benchmark/.data

# keystore ignore
.fermi/*

# bench and test ignore
/suite/db.rocks
target/
!/**/src/**/target/
.test_*

# metrics ignore
metrics/__pycache__/*

# sdk ignore
sdk/js/dist/*
sdk/js/node_modules/*

docs/website/node_modules/**
docs/website/build/**

docs/website/.docusaurus
