@import 'variables';
@import 'mixins';

.avatar {
  background-color: transparent;
}

.topSecondaryText {
  padding-left: $s * 0.25;
  color: rgb(145, 158, 171);
}
.verified {
  width: 18px;
  height: 18px;
  display: inline-block;
  padding-left: $s * 0.5;
}
.poolTier {
  @include themify('background-image', 'palette.gradients.poolTierCard');
  padding-left: $s * 0.75;
  padding-right: $s * 0.75;
  margin-left: $s * 0.5;
  display: inline;
}

.meta {
  line-height: 1;
  padding-top: $s * 0.5;
}
